*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
}

/* HEADER */
.bg-dark{
    height: 100px;
}

.riq-col{
    height: 50px;
    width: 100%;
    background-color: red;
}

/* MAIN */
.bg-success, .bg-body{
    height: 500px;
}

/* main 1 */
.prova-main-1{
    height: 200px;
    width: 100%;
    background-color: blue;
}

/* main 2 */
.prova-main-2{
    height: 200px;
    width: 100%;
    background-color: blue;
}