*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100%;
}

/* HEADER */
header{
    height: 100px;
}

.riq-col{
    height: 50px;
    width: 100%;
    background-color: red;
}

.riq-col-plus{
    height: 50px;
    width: calc(90% / 3);
    background-color: orange;
}


/* ======= MAIN ===== */
.prova-main{
    height: 200px;
    width: 100%;
    background-color: blue;
    margin-bottom: 20px;
}

.main-2 .prova-main:not(.prova-main:first-child){
    height: 200px;
    width: 45%;
    background-color: blue;
}

.footer-1 .prova-main{
    height: 200px;
    width: 30%;
    background-color: blue;
}